@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Roboto');

@layer components{
    .badge {
        display: inline-block;
        font-size: 0.8rem;
        padding: 0.2rem 0.7rem;
        text-align: center;
        margin: 0.3rem;
        border-radius: 6px;
        border-width: 2px;
    }
}

@layer base{
    body {
        font-family: Roboto, sans-serif;
    }
}

@layer utilities {
    .alert{
        background-color: rgba(229,231,235);
    }
}